In [6]:
import pandas as pd
import numpy as np

In [7]:
# import data and turn into DF
df = pd.read_excel("train.xlsx")

In [8]:
df.head()

,PRICES,Hour 01,Hour 02,Hour 03,Hour 04,Hour 05,Hour 06,Hour 07,Hour 08,Hour 09,...,Hour 15,Hour 16,Hour 17,Hour 18,Hour 19,Hour 20,Hour 21,Hour 22,Hour 23,Hour 24
0,2007-01-01,24.31,24.31,21.71,8.42,0.01,0.01,0.02,0.01,0.01,...,15.00,10.00,8.17,27.77,37.99,33.11,37.99,33.00,36.48,30.65
1,2007-01-02,16.01,11.00,9.01,7.50,9.00,7.45,16.50,28.01,29.96,...,37.57,36.45,37.99,53.00,59.69,50.09,50.00,36.22,31.09,29.84
2,2007-01-03,28.00,24.50,24.15,18.99,15.50,23.11,29.01,39.73,43.81,...,43.21,43.99,48.00,57.00,60.99,55.51,51.77,34.51,39.31,38.05
3,2007-01-04,31.01,28.69,27.00,24.20,12.02,27.00,28.00,34.85,41.31,...,40.01,38.00,42.66,53.00,58.99,53.50,44.01,35.00,34.46,31.57
4,2007-01-05,22.00,19.50,17.55,15.91,11.40,22.65,27.30,34.00,40.01,...,40.06,38.00,38.61,49.84,53.00,45.91,36.74,29.61,30.61,27.51

In [57]:
df = df.rename(columns={"PRICES" : "date"})
df.columns

Index(['date', 'Hour 01', 'Hour 02', 'Hour 03', 'Hour 04', 'Hour 05',
       'Hour 06', 'Hour 07', 'Hour 08', 'Hour 09', 'Hour 10', 'Hour 11',
       'Hour 12', 'Hour 13', 'Hour 14', 'Hour 15', 'Hour 16', 'Hour 17',
       'Hour 18', 'Hour 19', 'Hour 20', 'Hour 21', 'Hour 22', 'Hour 23',
       'Hour 24'],
      dtype='object')

In [59]:
days = df[(df["date"].dt.month == 12) & (df["date"].dt.year == 2007)]
# for day, row in days.iterrows():
#     print(day, row)
day1 = days.iloc[0, 1:]
print(np.argmax(day1) + 1, np.max(day1))
day1

19 87.94

Hour 01    62.19
Hour 02     48.1
Hour 03     43.4
Hour 04    29.99
Hour 05    18.08
Hour 06    37.92
Hour 07     30.0
Hour 08    57.03
Hour 09    48.86
Hour 10    56.84
Hour 11     63.8
Hour 12    63.34
Hour 13    65.23
Hour 14    63.79
Hour 15    60.82
Hour 16    49.96
Hour 17    45.41
Hour 18     78.0
Hour 19    87.94
Hour 20    75.94
Hour 21    49.94
Hour 22    47.87
Hour 23    49.87
Hour 24    48.11
Name: 334, dtype: object

In [60]:
df["date"].dt.year.unique()

array([2007, 2008, 2009])

In [66]:
min_prices = {2007:{}, 2008:{}, 2009: {}}
max_prices = {2007:{}, 2008:{}, 2009: {}}

for year in prices.keys():
    # loop over the months
    for month in range(1, 13):
        # create month list 
        min_prices[year][month] = []
        max_prices[year][month] = []
        # generate moth df
        month_df = df[(df["date"].dt.year == year) & (df["date"].dt.month == month)]
        # get number of days in moth 
        n_days = len(month_df["date"])
        # loop over the days 
        for day in range(n_days):
            # day prices
            dp = month_df.iloc[day, 1:]
            dmax = (np.argmax(dp) + 1, np.max(dp))
            dmin = (np.argmin(dp) + 1, np.min(dp))
            # log data 
            min_prices[year][month].append(dmin)
            max_prices[year][month].append(dmax)

In [67]:
min_prices

{2007: {1: [(5, 0.01),
   (6, 7.45),
   (5, 15.5),
   (5, 12.02),
   (5, 11.4),
   (5, 16.95),
   (5, 8.0),
   (4, 3.4),
   (5, 8.17),
   (5, 11.26),
   (5, 8.18),
   (5, 9.07),
   (5, 1.04),
   (4, 0.01),
   (4, 17.4),
   (5, 17.1),
   (5, 11.01),
   (5, 12.51),
   (5, 9.72),
   (5, 8.0),
   (4, 0.01),
   (4, 9.18),
   (5, 23.64),
   (5, 26.99),
   (5, 26.8),
   (5, 28.0),
   (5, 19.0),
   (5, 26.0),
   (5, 15.66),
   (5, 20.01),
   (5, 16.79)],
  2: [(5, 23.2),
   (5, 19.59),
   (5, 10.6),
   (7, 17.95),
   (5, 19.12),
   (5, 23.59),
   (5, 26.7),
   (5, 22.5),
   (5, 20.11),
   (5, 15.79),
   (7, 5.51),
   (5, 8.17),
   (5, 15.35),
   (4, 17.19),
   (4, 15.99),
   (5, 19.18),
   (7, 8.16),
   (7, 7.84),
   (5, 12.54),
   (5, 18.2),
   (5, 11.94),
   (5, 17.15),
   (5, 16.0),
   (7, 13.08),
   (8, 5.95),
   (4, 12.08),
   (5, 15.95),
   (5, 11.05)],
  3: [(5, 7.97),
   (5, 8.07),
   (7, 12.09),
   (8, 9.18),
   (4, 9.17),
   (5, 12.0),
   (5, 9.0),
   (4, 14.08),
   (5, 16.23),
   (5, 17.94),
   (8, 7.97),
   (4, 20.27),
   (5, 16.96),
   (5, 11.09),
   (5, 16.0),
   (4, 20.87),
   (8, 11.92),
   (8, 1.29),
   (5, 9.91),
   (5, 19.0),
   (4, 21.0),
   (3, 19.83),
   (3, 22.14),
   (7, 18.4),
   (17, 9.18),
   (4, 20.4),
   (4, 18.81),
   (5, 18.96),
   (5, 16.0),
   (5, 16.93),
   (6, 21.97)],
  4: [(18, 20.0),
   (4, 21.46),
   (5, 18.87),
   (5, 21.39),
   (5, 23.11),
   (5, 21.99),
   (5, 22.94),
   (17, 19.03),
   (17, 5.98),
   (4, 10.05),
   (5, 14.07),
   (4, 22.06),
   (5, 13.99),
   (5, 14.99),
   (4, 1.09),
   (5, 9.19),
   (5, 8.17),
   (5, 17.19),
   (5, 12.46),
   (5, 9.92),
   (5, 14.2),
   (8, 6.0),
   (4, 20.19),
   (5, 4.69),
   (5, 0.96),
   (5, 3.34),
   (5, 9.17),
   (4, 0.01),
   (3, 0.01),
   (5, 5.06)],
  5: [(5, 6.21),
   (4, 6.69),
   (5, 12.3),
   (5, 15.92),
   (5, 15.91),
   (5, 14.16),
   (5, 7.02),
   (7, 14.92),
   (5, 6.75),
   (5, 9.16),
   (5, 15.91),
   (5, 17.1),
   (7, 6.1),
   (5, 9.93),
   (5, 11.93),
   (5, 9.17),
   (7, 8.99),
   (5, 10.08),
   (5, 13.05),
   (7, 8.18),
   (4, 8.1),
   (5, 11.06),
   (5, 17.94),
   (5, 9.18),
   (5, 9.16),
   (6, 10.95),
   (7, 7.46),
   (7, 7.87),
   (4, 10.05),
   (5, 12.92),
   (5, 9.17)],
  6: [(5, 15.95),
   (6, 11.03),
   (7, 6.01),
   (4, 7.43),
   (5, 6.91),
   (5, 7.08),
   (5, 19.0),
   (4, 7.05),
   (6, 9.06),
   (7, 0.07),
   (4, 5.96),
   (6, 11.0),
   (5, 8.17),
   (5, 9.18),
   (5, 7.46),
   (7, 8.18),
   (7, 1.07),
   (4, 11.78),
   (5, 9.17),
   (5, 9.17),
   (5, 7.97),
   (5, 9.17),
   (7, 11.07),
   (7, 7.1),
   (4, 10.93),
   (5, 13.93),
   (5, 7.15),
   (5, 8.1),
   (5, 8.12),
   (7, 9.17)],
  7: [(7, 8.05),
   (5, 9.99),
   (5, 13.92),
   (5, 13.07),
   (5, 10.46),
   (5, 9.18),
   (6, 9.17),
   (7, 0.5),
   (5, 16.0),
   (5, 16.5),
   (5, 15.5),
   (5, 14.0),
   (5, 10.95),
   (7, 11.05),
   (7, 7.12),
   (4, 11.1),
   (4, 15.12),
   (5, 16.0),
   (5, 17.5),
   (5, 13.88),
   (7, 11.96),
   (7, 7.01),
   (5, 10.41),
   (5, 15.96),
   (5, 4.95),
   (5, 8.07),
   (5, 10.03),
   (7, 15.37),
   (7, 6.99),
   (5, 6.96),
   (5, 9.0)],
  8: [(4, 9.96),
   (5, 8.97),
   (5, 11.01),
   (7, 15.91),
   (7, 6.51),
   (4, 13.59),
   (5, 8.18),
   (4, 7.33),
   (4, 8.17),
   (4, 7.11),
   (7, 9.19),
   (7, 4.08),
   (2, 9.18),
   (5, 13.02),
   (7, 8.09),
   (5, 8.97),
   (5, 8.16),
   (5, 7.35),
   (7, 6.94),
   (5, 6.02),
   (5, 8.06),
   (5, 9.17),
   (4, 9.18),
   (4, 15.97),
   (6, 9.97),
   (6, 7.8),
   (4, 9.98),
   (5, 15.87),
   (5, 9.9),
   (5, 15.93),
   (5, 11.94)],
  9: [(5, 13.96),
   (4, 8.98),
   (4, 8.17),
   (5, 8.92),
   (5, 17.17),
   (5, 18.8),
   (4, 20.0),
   (5, 19.0),
   (8, 8.09),
   (4, 9.91),
   (5, 16.6),
   (4, 20.4),
   (5, 20.0),
   (3, 23.99),
   (5, 19.0),
   (8, 11.96),
   (4, 11.08),
   (4, 19.37),
   (3, 19.4),
   (4, 18.0),
   (4, 20.0),
   (5, 15.44),
   (6, 11.99),
   (4, 8.91),
   (5, 15.51),
   (5, 18.97),
   (5, 21.97),
   (4, 17.5),
   (5, 13.99),
   (7, 7.27)],
  10: [(3, 20.0),
   (5, 15.94),
   (4, 17.17),
   (2, 22.95),
   (5, 14.08),
   (5, 17.12),
   (7, 17.33),
   (5, 10.91),
   (5, 19.99),
   (6, 16.99),
   (4, 20.09),
   (4, 18.94),
   (5, 23.07),
   (5, 12.9),
   (5, 10.7),
   (4, 18.91),
   (4, 20.07),
   (4, 24.79),
   (5, 28.01),
   (5, 28.92),
   (17, 29.9),
   (3, 17.33),
   (4, 32.52),
   (5, 30.0),
   (5, 26.95),
   (5, 28.59),
   (5, 33.04),
   (6, 14.83),
   (4, 19.01),
   (5, 16.06),
   (4, 24.95)],
  11: [(5, 24.83),
   (5, 25.87),
   (5, 17.09),
   (5, 10.74),
   (4, 10.93),
   (5, 20.0),
   (5, 22.06),
   (5, 13.05),
   (5, 17.12),
   (5, 31.91),
   (6, 2.6),
   (5, 11.95),
   (5, 20.09),
   (2, 41.29),
   (4, 42.27),
   (5, 33.0),
   (5, 35.0),
   (7, 25.88),
   (5, 15.0),
   (3, 49.96),
   (4, 29.96),
   (4, 31.6),
   (5, 28.83),
   (5, 25.6),
   (7, 13.54),
   (5, 18.6),
   (4, 26.79),
   (5, 27.01),
   (4, 23.75),
   (5, 21.93)],
  12: [(5, 18.08),
   (6, 19.96),
   (4, 11.98),
   (5, 19.98),
   (4, 18.04),
   (4, 18.03),
   (5, 12.07),
   (5, 11.04),
   (7, 7.29),
   (5, 7.88),
   (5, 20.93),
   (5, 28.16),
   (4, 40.0),
   (5, 30.0),
   (5, 30.0),
   (5, 29.15),
   (4, 30.79),
   (5, 28.5),
   (4, 57.25),
   (5, 43.0),
   (5, 46.19),
   (5, 55.26),
   (7, 21.98),
   (4, 28.0),
   (7, 23.93),
   (5, 9.93),
   (6, 4.3),
   (3, 8.6),
   (7, 22.3),
   (7, 7.4),
   (5, 12.0)]},
 2008: {1: [(8, 26.94),
   (4, 36.0),
   (5, 46.33),
   (5, 48.11),
   (5, 21.99),
   (7, 10.3),
   (5, 15.01),
   (5, 34.0),
   (5, 26.31),
   (5, 32.03),
   (5, 31.0),
   (7, 24.49),
   (7, 38.0),
   (5, 13.96),
   (5, 35.02),
   (4, 25.01),
   (5, 41.0),
   (4, 29.6),
   (5, 8.17),
   (7, 3.9),
   (6, 11.91),
   (4, 31.29),
   (5, 37.09),
   (5, 30.0),
   (5, 30.09),
   (5, 19.92),
   (6, 20.0),
   (5, 49.28),
   (5, 33.6),
   (5, 41.1),
   (4, 38.53)],
  2: [(5, 35.0),
   (5, 32.0),
   (17, 35.08),
   (5, 26.41),
   (5, 37.0),
   (4, 15.18),
   (4, 35.99),
   (4, 44.87),
   (4, 41.93),
   (5, 19.93),
   (4, 41.99),
   (5, 46.0),
   (5, 44.96),
   (5, 49.26),
   (5, 48.47),
   (5, 49.99),
   (17, 40.05),
   (5, 49.91),
   (5, 51.26),
   (5, 51.93),
   (5, 45.84),
   (5, 36.08),
   (6, 35.96),
   (7, 13.98),
   (4, 29.99),
   (5, 36.0),
   (5, 21.97),
   (5, 39.99),
   (4, 39.97)],
  3: [(5, 15.92),
   (7, 8.17),
   (5, 22.01),
   (4, 38.57),
   (5, 42.86),
   (5, 59.94),
   (5, 43.1),
   (5, 50.0),
   (6, 40.49),
   (5, 42.92),
   (5, 31.97),
   (5, 29.91),
   (5, 24.93),
   (5, 36.0),
   (24, 36.47),
   (7, 8.18),
   (4, 15.81),
   (5, 33.98),
   (5, 41.0),
   (4, 48.47),
   (5, 35.92),
   (7, 31.85),
   (7, 44.93),
   (7, 30.59),
   (5, 25.49),
   (5, 59.75),
   (4, 43.0),
   (4, 45.94),
   (17, 47.96),
   (16, 25.93),
   (4, 47.37)],
  4: [(5, 43.85),
   (4, 41.7),
   (4, 39.01),
   (4, 47.0),
   (4, 50.0),
   (7, 21.96),
   (4, 44.95),
   (5, 49.9),
   (5, 54.6),
   (4, 50.61),
   (4, 48.0),
   (5, 50.01),
   (8, 37.19),
   (5, 30.05),
   (3, 50.0),
   (5, 48.99),
   (4, 48.0),
   (4, 46.0),
   (5, 44.0),
   (7, 36.02),
   (5, 25.0),
   (4, 36.1),
   (4, 42.06),
   (4, 40.06),
   (4, 38.0),
   (5, 30.75),
   (7, 12.08),
   (5, 9.97),
   (4, 32.3),
   (3, 33.75)],
  5: [(7, 16.81),
   (4, 25.67),
   (9, 60.62),
   (7, 12.92),
   (5, 21.96),
   (4, 34.82),
   (4, 30.05),
   (4, 30.16),
   (5, 26.03),
   (7, 26.0),
   (7, 6.02),
   (7, 7.06),
   (4, 13.89),
   (4, 26.95),
   (4, 30.7),
   (4, 30.8),
   (5, 33.92),
   (7, 9.18),
   (4, 20.96),
   (5, 33.31),
   (5, 28.77),
   (5, 29.63),
   (4, 26.41),
   (5, 31.86),
   (7, 7.09),
   (4, 9.93),
   (4, 20.96),
   (5, 9.16),
   (5, 19.91),
   (4, 23.0),
   (5, 13.91)],
  6: [(7, 6.0),
   (5, 10.74),
   (4, 20.9),
   (4, 31.93),
   (5, 13.06),
   (4, 31.91),
   (6, 34.06),
   (6, 7.9),
   (4, 39.3),
   (4, 42.53),
   (5, 18.03),
   (5, 33.07),
   (5, 38.0),
   (5, 26.95),
   (7, 5.98),
   (6, 27.79),
   (5, 17.98),
   (5, 8.29),
   (5, 27.04),
   (5, 29.19),
   (6, 49.93),
   (7, 10.0),
   (4, 9.18),
   (4, 39.95),
   (5, 35.05),
   (5, 48.06),
   (5, 44.94),
   (6, 27.99),
   (7, 7.98),
   (5, 35.59)],
  7: [(4, 49.93),
   (5, 45.99),
   (4, 39.34),
   (5, 32.3),
   (7, 20.03),
   (6, 9.98),
   (4, 9.94),
   (4, 31.0),
   (5, 32.82),
   (5, 37.03),
   (5, 45.0),
   (7, 38.78),
   (7, 27.96),
   (6, 9.98),
   (4, 16.93),
   (4, 19.92),
   (4, 32.05),
   (5, 35.1),
   (6, 32.0),
   (7, 3.49),
   (5, 7.8),
   (5, 27.9),
   (5, 15.93),
   (5, 15.9),
   (4, 31.34),
   (7, 38.5),
   (6, 7.58),
   (5, 30.71),
   (5, 29.3),
   (5, 32.99),
   (4, 41.75)],
  8: [(5, 36.81),
   (5, 11.55),
   (7, 7.98),
   (5, 9.97),
   (5, 8.93),
   (4, 9.08),
   (5, 9.95),
   (5, 9.98),
   (5, 16.42),
   (7, 9.01),
   (4, 8.94),
   (4, 9.17),
   (4, 9.04),
   (5, 9.11),
   (7, 9.96),
   (5, 9.9),
   (7, 7.91),
   (4, 9.99),
   (4, 9.96),
   (4, 31.89),
   (4, 25.97),
   (5, 11.93),
   (5, 13.16),
   (8, 7.99),
   (4, 27.95),
   (4, 49.47),
   (5, 46.0),
   (5, 50.2),
   (4, 55.28),
   (4, 59.99),
   (7, 39.97)],
  9: [(5, 51.44),
   (5, 37.39),
   (5, 50.78),
   (5, 56.01),
   (4, 59.86),
   (6, 57.0),
   (9, 14.0),
   (4, 47.5),
   (5, 52.52),
   (4, 58.5),
   (4, 62.0),
   (4, 58.3),
   (5, 55.0),
   (5, 48.79),
   (4, 48.18),
   (4, 53.88),
   (4, 48.77),
   (4, 47.33),
   (5, 54.07),
   (5, 58.55),
   (5, 30.46),
   (4, 33.33),
   (5, 54.57),
   (5, 53.28),
   (4, 55.58),
   (5, 57.31),
   (5, 62.92),
   (5, 53.03),
   (4, 57.25),
   (5, 49.66)],
  10: [(5, 44.28),
   (4, 44.0),
   (4, 44.58),
   (5, 58.0),
   (17, 47.47),
   (5, 28.13),
   (4, 59.3),
   (5, 57.55),
   (5, 51.21),
   (4, 56.23),
   (5, 55.77),
   (4, 37.2),
   (5, 26.55),
   (5, 45.78),
   (5, 46.76),
   (5, 39.04),
   (4, 44.41),
   (5, 47.96),
   (17, 40.0),
   (4, 19.95),
   (4, 34.0),
   (4, 42.65),
   (4, 41.91),
   (4, 43.0),
   (24, 50.41),
   (3, 0.01),
   (5, 35.0),
   (4, 44.29),
   (4, 46.36),
   (4, 41.0),
   (4, 48.0)],
  11: [(7, 29.7),
   (5, 17.37),
   (6, 35.02),
   (5, 39.03),
   (4, 9.05),
   (4, 34.46),
   (4, 38.69),
   (5, 43.96),
   (6, 9.04),
   (4, 8.01),
   (5, 9.04),
   (5, 28.54),
   (5, 43.5),
   (4, 41.92),
   (5, 24.76),
   (4, 7.52),
   (4, 17.87),
   (5, 34.46),
   (5, 31.02),
   (5, 30.0),
   (5, 31.95),
   (5, 33.82),
   (5, 43.25),
   (5, 25.57),
   (4, 47.03),
   (5, 46.4),
   (5, 42.0),
   (5, 43.99),
   (7, 43.97),
   (7, 40.02)],
  12: [(5, 39.0),
   (5, 33.93),
   (5, 40.01),
   (5, 40.76),
   (5, 29.99),
   (5, 32.49),
   (6, 28.9),
   (5, 31.62),
   (5, 35.66),
   (5, 39.17),
   (5, 40.07),
   (5, 44.99),
   (5, 40.05),
   (5, 20.65),
   (5, 26.66),
   (5, 33.84),
   (5, 38.0),
   (5, 37.0),
   (5, 28.13),
   (6, 20.81),
   (7, 8.94),
   (5, 8.96),
   (5, 9.0),
   (1, 11.4),
   (7, 6.41),
   (5, 1.37),
   (5, 23.21),
   (5, 29.81),
   (5, 28.77),
   (5, 35.0),
   (5, 29.31)]},
 2009: {1: [(10, 12.0),
   (5, 22.99),
   (6, 35.0),
   (6, 24.93),
   (5, 29.0),
   (6, 35.6),
   (6, 54.0),
   (5, 42.85),
   (4, 54.0),
   (6, 38.96),
   (7, 21.0),
   (5, 26.97),
   (5, 32.98),
   (5, 38.57),
   (5, 40.07),
   (5, 41.56),
   (6, 41.0),
   (6, 22.67),
   (5, 18.55),
   (5, 32.59),
   (5, 33.82),
   (5, 33.08),
   (5, 21.03),
   (7, 20.6),
   (7, 22.61),
   (5, 27.05),
   (5, 32.28),
   (5, 32.88),
   (4, 38.79),
   (5, 34.52),
   (5, 33.72)],
  2: [(7, 22.29),
   (5, 27.04),
   (5, 32.66),
   (5, 41.0),
   (5, 37.76),
   (5, 32.65),
   (7, 27.44),
   (7, 22.68),
   (5, 21.95),
   (5, 17.4),
   (5, 25.52),
   (5, 31.68),
   (5, 35.8),
   (5, 34.86),
   (9, 28.05),
   (5, 27.89),
   (5, 32.02),
   (5, 32.05),
   (5, 30.32),
   (5, 33.03),
   (6, 33.35),
   (17, 13.25),
   (5, 13.0),
   (5, 22.82),
   (5, 30.03),
   (2, 26.7),
   (5, 29.2),
   (17, 27.12)],
  3: [(7, 13.92),
   (5, 29.0),
   (5, 28.0),
   (5, 24.01),
   (4, 28.0),
   (5, 29.31),
   (6, 29.96),
   (7, 5.81),
   (4, 4.0),
   (2, 25.57),
   (4, 26.0),
   (5, 30.0),
   (5, 25.54),
   (5, 28.0),
   (8, 9.47),
   (4, 16.75),
   (5, 22.59),
   (5, 20.64),
   (3, 28.97),
   (5, 22.35),
   (18, 24.84),
   (17, 11.67),
   (4, 11.01),
   (4, 18.2),
   (5, 28.65),
   (4, 27.41),
   (5, 20.14),
   (5, 23.28),
   (6, 19.49),
   (4, 27.14),
   (5, 30.0)],
  4: [(4, 24.52),
   (5, 24.0),
   (4, 26.32),
   (6, 24.56),
   (6, 10.46),
   (5, 16.09),
   (5, 18.09),
   (5, 18.45),
   (5, 20.51),
   (4, 10.18),
   (5, 14.37),
   (5, 8.6),
   (5, 7.12),
   (5, 10.0),
   (5, 15.44),
   (3, 10.0),
   (4, 9.29),
   (5, 15.82),
   (7, 10.01),
   (5, 9.81),
   (5, 19.67),
   (4, 21.51),
   (4, 21.0),
   (3, 23.23),
   (5, 14.06),
   (7, 7.7),
   (4, 16.07),
   (4, 18.72),
   (4, 22.92),
   (4, 23.66)],
  5: [(7, 10.96),
   (5, 16.83),
   (8, 12.34),
   (4, 7.73),
   (3, 9.99),
   (5, 0.02),
   (4, 12.63),
   (5, 16.02),
   (4, 10.17),
   (4, 0.04),
   (3, 0.01),
   (5, 9.89),
   (5, 9.09),
   (5, 8.94),
   (4, 4.25),
   (5, 3.44),
   (7, 2.66),
   (5, 1.99),
   (5, 14.5),
   (5, 18.87),
   (7, 11.23),
   (4, 9.54),
   (5, 10.17),
   (7, 4.96),
   (4, 6.5),
   (4, 10.18),
   (5, 1.81),
   (5, 1.0),
   (4, 3.36),
   (5, 9.0),
   (7, 1.79)],
  6: [(6, 1.0),
   (4, 0.12),
   (5, 0.73),
   (5, 9.1),
   (5, 18.1),
   (6, 16.68),
   (7, 7.25),
   (5, 15.3),
   (4, 21.48),
   (5, 17.91),
   (5, 16.72),
   (5, 10.01),
   (6, 10.3),
   (7, 3.77),
   (4, 15.15),
   (5, 21.76),
   (5, 14.08),
   (5, 16.87),
   (5, 13.66),
   (6, 10.17),
   (7, 2.27),
   (4, 6.68),
   (5, 14.4),
   (4, 12.81),
   (4, 13.85),
   (4, 23.63),
   (6, 10.54),
   (7, 0.01),
   (4, 10.69),
   (5, 22.44)],
  7: [(5, 25.5),
   (5, 25.0),
   (4, 27.23),
   (6, 21.09),
   (7, 7.22),
   (5, 16.67),
   (4, 19.71),
   (4, 10.26),
   (4, 19.5),
   (4, 22.41),
   (5, 20.25),
   (7, 17.04),
   (5, 24.83),
   (5, 24.9),
   (4, 12.3),
   (5, 23.51),
   (5, 21.5),
   (7, 10.1),
   (7, 0.08),
   (5, 9.17),
   (5, 18.06),
   (4, 15.01),
   (5, 12.79),
   (5, 17.39),
   (6, 22.0),
   (7, 9.0),
   (4, 10.17),
   (5, 9.99),
   (4, 9.99),
   (4, 9.5),
   (5, 6.73)],
  8: [(5, 18.08),
   (7, 9.81),
   (4, 10.0),
   (5, 12.04),
   (5, 10.84),
   (5, 12.53),
   (4, 16.82),
   (5, 10.55),
   (7, 7.49),
   (4, 8.02),
   (4, 4.9),
   (5, 3.14),
   (4, 9.01),
   (5, 6.69),
   (6, 9.99),
   (8, 4.17),
   (3, 0.01),
   (4, 8.55),
   (5, 9.19),
   (5, 10.0),
   (4, 16.26),
   (8, 1.0),
   (17, 0.01),
   (4, 0.01),
   (5, 22.4),
   (5, 19.76),
   (5, 10.18),
   (5, 21.69),
   (5, 18.74),
   (8, 0.01),
   (3, 0.01)],
  9: [(5, 19.41),
   (5, 0.01),
   (4, 13.36),
   (5, 9.81),
   (6, 0.01),
   (7, 0.01),
   (5, 0.01),
   (5, 9.61),
   (5, 16.76),
   (4, 16.0),
   (5, 11.57),
   (5, 12.53),
   (5, 10.19),
   (4, 10.16),
   (4, 11.0),
   (5, 5.63),
   (4, 10.09),
   (4, 16.72),
   (5, 21.55),
   (6, 15.0),
   (5, 10.19),
   (5, 10.17),
   (5, 10.98),
   (4, 14.18),
   (4, 15.96),
   (5, 21.83),
   (8, 14.66),
   (5, 10.17),
   (5, 18.69),
   (4, 19.62)],
  10: [(4, 22.86),
   (5, 15.25),
   (5, 16.9),
   (1, 0.01),
   (4, 9.99),
   (5, 20.73),
   (4, 10.2),
   (5, 13.0),
   (5, 19.0),
   (6, 20.14),
   (6, 10.18),
   (1, 0.01),
   (5, 15.07),
   (5, 24.7),
   (5, 23.5),
   (5, 25.98),
   (5, 26.0),
   (6, 24.0),
   (4, 29.0),
   (5, 32.51),
   (5, 24.03),
   (5, 25.58),
   (5, 33.24),
   (24, 29.0),
   (6, 9.56),
   (4, 7.9),
   (5, 26.87),
   (4, 28.89),
   (4, 27.57),
   (4, 25.51),
   (5, 29.7)],
  11: [(5, 19.06),
   (4, 6.29),
   (4, 28.0),
   (4, 10.17),
   (4, 10.0),
   (5, 20.01),
   (5, 18.0),
   (7, 13.54),
   (4, 9.49),
   (5, 22.0),
   (4, 24.5),
   (4, 22.82),
   (5, 22.23),
   (5, 15.15),
   (5, 6.47),
   (5, 7.88),
   (4, 15.08),
   (4, 10.45),
   (4, 17.04),
   (4, 18.06),
   (4, 20.0),
   (5, 9.99),
   (3, 0.01),
   (4, 10.0),
   (5, 0.01),
   (4, 10.38),
   (4, 10.18),
   (4, 15.16),
   (5, 0.13),
   (4, 10.23)],
  12: [(4, 17.38),
   (4, 24.0),
   (4, 16.5),
   (4, 20.5),
   (5, 20.0),
   (5, 10.18),
   (4, 10.34),
   (4, 15.07),
   (5, 20.39),
   (5, 20.0),
   (4, 21.79),
   (5, 25.02),
   (6, 18.33),
   (5, 23.66),
   (3, 28.0),
   (1, 35.0),
   (5, 34.68),
   (5, 30.08),
   (6, 31.0),
   (7, 11.36),
   (4, 22.0),
   (5, 18.07),
   (4, 23.19),
   (5, 16.86),
   (4, 7.92),
   (6, 9.49),
   (5, 0.01),
   (5, 9.99),
   (5, 16.58),
   (5, 9.04),
   (5, 8.36)]}}

In [73]:
# test 
print(f"Min price Dec. 12 2007: {min_prices[2007][12][12 -1][1]} at hour {min_prices[2007][12][12 -1][0]}")
print(f"Max price Dec. 12 2007: {max_prices[2007][12][12 -1][1]} at hour {max_prices[2007][12][12 -1][0]}")

Min price Dec. 12 2007: 28.16 at hour 5
Max price Dec. 12 2007: 191.99 at hour 18

Basic heuristc where depending on the day month and year you have a certain buy and sell signal

In [74]:
heur1 = {2007:{}, 2008:{}, 2009: {}}
for year in heur1.keys():
    for month in range(1, 13):
        heur1[year][month] = {}
        n_days = len(min_prices[year][month])
        for day in range(n_days):
            heur1[year][month][day + 1] = {}
            heur1[year][month][day + 1]["sell"] = max_prices[year][month][day][0]
            heur1[year][month][day + 1]["buy"] = min_prices[year][month][day][0]

In [72]:
q = df[(df["date"].dt.year == 2007) & (df["date"].dt.month == 12) & (df["date"].dt.day == 12)]
q

,date,Hour 01,Hour 02,Hour 03,Hour 04,Hour 05,Hour 06,Hour 07,Hour 08,Hour 09,...,Hour 15,Hour 16,Hour 17,Hour 18,Hour 19,Hour 20,Hour 21,Hour 22,Hour 23,Hour 24
345,2007-12-12,43.02,36.26,35.22,28.9,28.16,34.4,56.0,98.71,98.7,...,91.59,89.92,100.0,191.99,182.76,109.0,86.99,73.03,78.25,66.03